.cartItems {
	width: 80%;
	margin: auto;
}
.cartButton {
	width: 20%;
	align-items: center;
	text-align: center;
}
.emptyItems {
	text-align: center;
	font-size: 4em;
}
.cartHeader {
	font-size: 4em;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0.3em;
}
.cartImg {
	height: 3em;
	width: 3em;
	align-items: center;
	transition: transform 0.2s;
	opacity: 0.9;
}
.cartImg:hover {
	transform: scale(1.2);
	opacity: 1;
}

.allCartItem {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	align-items: center;
	width: 70%;
	margin: auto;
	padding: 30px;
	border-radius: 2px;
	font-size: 20px;
	box-shadow: 1px 1px 3px rgb(27, 27, 27);
	background-color: white;
}
.cartInfo {
	width: 90%;
	margin: auto;
	margin-bottom: 2em;
}
.cartBottom {
	display: flex;
	justify-content: space-evenly;
	width: 80%;
	margin: auto;
	font-size: 1.5em;
}
