.newForm {
	text-align: center;
	font-family: monospace;
	animation: theform 0.3s ease-in;
}
@keyframes theform {
	0% {
		margin-left: -30px;
		opacity: 0;
	}
	33% {
		opacity: 0.3;
	}
	66% {
		opacity: 0.6;
	}
}
.newForm div input {
	font-size: 20px;
	border: none;
	margin: 20px;
	width: 60%;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid black;
	transition: 0.1s ease-in;
	opacity: 0.8;
	padding: 5px;
	border-radius: 3px;
}
.newForm div input:hover {
	opacity: 0.3;
}
.newButton {
	font-size: 20px;
	margin: 30px;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
}
.newButton a {
	color: black;
	text-decoration: none;
}
.newButton:hover {
	opacity: 0.6;
}
