nav {
	display: flex;
	justify-content: space-between;
	background-color: rgb(19, 18, 18);
	align-items: center;
	padding: 0.1em 1.5em;
}

nav h4 a {
	font-size: 23px;
	font-weight: 300;
	background: -webkit-linear-gradient(#797979, #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

nav button {
	padding: 7px;
	border-radius: 10px;
	transition: 0.2s ease-in;
}
nav button:hover {
	background-color: rgb(44, 44, 44);
	color: white;
}
nav button a {
	transition: 0.2s ease-in;
	color: white;
}
nav button a:hover {
	color: rgb(255, 255, 255);
}
