.mainWatches {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 80%;
	margin: auto;
	background-color: rgb(43, 43, 43);
}
.mainImg {
	height: 14em;
	width: 14em;
	align-items: center;
	transition: transform 0.2s;
	opacity: 0.9;
}
.mainImg:hover {
	transform: scale(1.2);
	opacity: 1;
}
article {
	background-color: white;
	text-align: center;
	margin: 30px;
	padding: 30px;
	border-radius: 10px;
	width: 70%;
	box-shadow: 1px 2px 5px rgb(27, 27, 27);
}

h2 {
	text-align: center;
}
a {
	text-decoration: none;
}
.watchBtn {
	font-size: 10px;
	margin: auto;
	border-radius: 6px;
	padding: 5px;
}
.watchBtn a {
	color: black;
}

@media only screen and (max-width: 600px) {
	.mainWatches {
		text-align: center;
		display: grid;
		grid-template-columns: 1fr;
	}
	article {
		width: 80%;
		margin: 10;
	}
}
