.mainWatches {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 80%;
	margin: auto;
}
.mainImg {
	height: 14em;
	width: 14em;
	align-items: center;
	transition: transform 0.2s;
}
.mainImg:hover {
	transform: scale(1.2);
}
article {
	text-align: center;
	margin: 60px;
	padding: 30px;
	border: 1px solid black;
	border-radius: 10px;
	width: 70%;
	box-shadow: 1px 3px 3px rgb(27, 27, 27);
}

h2 {
	text-align: center;
}
a {
	text-decoration: none;
}
.watchBtn {
	align-items: center;
	font-size: 20px;
	width: 20%;
	margin: auto;
}

@media only screen and (max-width: 600px) {
	body {
		background-color: rgb(255, 255, 255);
	}
	.mainWatches {
		text-align: center;
		display: grid;
		grid-template-columns: 1fr;
	}
	article {
		width: 60%;
	}
}
