body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

aside {
	text-align: center;
	width: 20%;
	margin: auto;
	padding: 50px;
	padding-top: 2em;
	border: 1px solid black;
	border-radius: 20px;
	font-size: 13px;
	box-shadow: 1px 1px 3px rgb(27, 27, 27);
}
aside button {
	margin: 10px;
	border-radius: 8px;
	padding: 7px;
	color: black;
	cursor: pointer;
}
aside button:hover {
	background-color: aliceblue;
}
aside button a {
	color: black;
}
.homePage {
	background-color: rgb(255, 140, 0);
}
h1 {
	text-align: center;
	font-size: 4em;
}

@media only screen and (max-width: 600px) {
	aside {
		width: 50%;
	}
}
