body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.detailsMain {
	margin: 2em;
}

aside {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	align-items: center;
	width: 60%;
	margin: auto;
	padding: 30px;
	border-radius: 10px;
	font-size: 20px;
	box-shadow: 1px 1px 3px rgb(27, 27, 27);
}
.detailsTitle {
	font-size: 2em;
}

aside button {
	margin: 10px;
	border-radius: 8px;
	padding: 7px;
	color: black;
	cursor: pointer;
}
aside h2 {
	font-size: 15px;
}
aside button:hover {
	background-color: aliceblue;
}
aside button a {
	color: black;
}
aside div {
	margin: 1em;
}
.homePage {
	background-color: rgb(255, 140, 0);
}
h1 {
	text-align: center;
	font-size: 4em;
}

@media only screen and (max-width: 600px) {
	aside {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
		align-items: center;
		width: 80%;
		margin: auto;
		padding: 30px;
		border-radius: 10px;
		font-size: 20px;
		box-shadow: 1px 1px 3px rgb(27, 27, 27);
	}
	h1 {
		font-size: 2em;
	}
}
