body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.detailsTitle {
	font-size: 2em;
}
.detailsPrice {
	font-size: 1em;
}
.detailsP {
	font-family: monospace;
	font-size: 1.2em;
}
.viewTitle {
	padding: 30px;
}

/* footer  */
.footer {
	padding: 30px;
	background-color: #000000;
	color: white;
	display: flex;
	justify-content: space-evenly;
	margin-top: 2em;
}

/* video page  */
.headerAll {
	position: absolute;
	top: 8em;
	left: 30em;
	z-index: 2;
	background-color: #363636;
	padding: 40px;
	opacity: 0.8;
}
.headerAll h2 {
	color: aliceblue;
	margin: 0;
	font-weight: 400;
	font-size: 3.3em;
}
.headerAll h3 {
	color: aliceblue;
	margin: 0;
	font-weight: 100;
	font-size: 3.3em;
}

aside {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	align-items: center;
	width: 60%;
	margin: auto;
	padding: 30px;
	border-radius: 10px;
	font-size: 20px;
	box-shadow: 1px 1px 3px rgb(27, 27, 27);
	background-color: white;
}

aside Button {
	margin: 10px;
	border-radius: 8px;
	padding: 7px;
	color: black;
	cursor: pointer;
}
aside h2 {
	font-size: 15px;
}
aside div {
	margin: 1em;
}
.homePage {
	background-color: rgb(255, 140, 0);
}
h1 {
	text-align: center;
	font-size: 4em;
	background: -webkit-linear-gradient(#000000, #6b6b6b);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 600px) {
	aside {
		grid-template-columns: 1fr;
		width: 80%;
		margin: auto;
		padding: 10px;
		font-size: 10px;
		box-shadow: 1px 1px 3px rgb(27, 27, 27);
	}
	.detailsTitle {
		font-size: 1.3em;
	}
	.detailsPrice {
		font-size: 1em;
	}
	.detailsP {
		font-family: monospace;
		font-size: 0.8em;
	}
	.headerAll {
		display: none;
	}
	h1 {
		font-size: 2em;
	}
}
